<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  id="WebApp_ID" version="3.0">
  <display-name>Login_Form_usingServlet</display-name>
   <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.restn.Servlets.Login</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>Orderstatus</display-name>
  	<servlet-name>Orderstatus</servlet-name>
  	<servlet-class>com.restn.Servlets.Orderstatus</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>Address</display-name>
  	<servlet-name>Address</servlet-name>
  	<servlet-class>com.restn.Servlets.Address</servlet-class>
  </servlet>
   
   <!-- <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.restn.Servlets.Register</servlet-class>
    
  </servlet>
  -->
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Orderstatus</servlet-name>
  	<url-pattern>/Orderstatus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Address</servlet-name>
  	<url-pattern>/Address</url-pattern>
  </servlet-mapping>
  
  <!-- <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
    
  </servlet-mapping>
   -->
  
  	</web-app>